@charset "utf-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}
body {
    background-image: linear-gradient(to right,#3E53DE, #3883F5);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #1d2869b6;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color:#36ADEB ;
    text-align: center;
    text-shadow: 1px 1px 0px #185170;
}

h2 {
    color:#3883F5;
}



p {
    text-align: justify;
}